<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    #RewriteCond %{REQUEST_FILENAME} "^.*/exam/list.html"
	#RewriteCond %{HTTP_USER_AGENT} "^.*MSIE.*"
	#RewriteRule (.*) list.html
	RewriteCond %{HTTP_HOST} "^.*html"
	RewriteRule (.*) http://www.213.com/exam/list

    #RewriteCond %{HTTP_HOST} "^.*content.html.*"
	#RewriteRule (.*) http://www.213.com/exam/content
</IfModule>
